.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin: 20px;
}

.loading-indicator {
  max-height: 50px;
  max-width: 50px;
}
.chart-area {
  margin: 25px;
  max-width: 600px;
}
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  }
